{% extends 'base.html'  %}
	{% block content %}
		{% load static %}
  <!-- testi monial section start --> 
  <div class="testi_monial_section layout_padding">
    <div class="container">
           <div id="my_carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                <h1 class="testi_monila_text">Testi <span style="background-color: #fee421; color: #fff; padding: 0px 5px;">Monial</span></h1>
      <div class="testimonila_inner">
        <!-- <div class="testing_img"><img src="{% static 'images/img-10.png' %}"></div> -->br
        <h2 class="helina_text">Haii all.....</h2>
        <p class="dolor_text">Haii i am biya the company owner.Our company was established on 2023 January 5.Our Funitures is one of the leading suppliers of high quality furniture in India.We are pioneer in the history offering the market greater choice,innovative and ergonomic designs as well as enviornmentally friendly furniture.The Group has grown strength to strength.From the very beginning,the group has focused on its core principles of customer service,quality,value for money and innovation, and it is these principles that have enabled the group to gain thetrust of customers.</p>
      </div>
    </div>
    <div class="carousel-item">
      <h1 class="testi_monila_text">Testi <span style="background-color: #fee421; color: #fff; padding: 0px 5px;">Monial</span></h1>
      <div class="testimonila_inner">
        <!-- <div class="testing_img"><img src="{% static 'images/img-10.png' %}"></div> --> <br>
        <h2 class="helina_text">Hii all.....</h2>
        <p class="dolor_text">Haii i am biya the company owner.Our company was established on 2023 January 5.Our Funitures is one of the leading suppliers of high quality furniture in India.We are pioneer in the history offering the market greater choice,innovative and ergonomic designs as well as enviornmentally friendly furniture.The Group has grown strength to strength.From the very beginning,the group has focused on its core principles of customer service,quality,value for money and innovation, and it is these principles that have enabled the group to gain thetrust of customers.</p>
      </div>
    </div>
    <div class="carousel-item">
      <h1 class="testi_monila_text">Testi <span style="background-color: #fee421; color: #fff; padding: 0px 5px;">Monial</span></h1>
      <div class="testimonila_inner">
        <!-- <div class="testing_img"><img src="{% static 'images/img-10.png' %}"></div> --> <br>
        <h2 class="helina_text">Hii all.....</h2>
        <p class="dolor_text">Haii i am biya the company owner.Our company was established on 2023 January 5.Our Funitures is one of the leading suppliers of high quality furniture in India.We are pioneer in the history offering the market greater choice,innovative and ergonomic designs as well as enviornmentally friendly furniture.The Group has grown strength to strength.From the very beginning,the group has focused on its core principles of customer service,quality,value for money and innovation, and it is these principles that have enabled the group to gain thetrust of customers.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#my_carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#my_carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
    </div>
  </div>
  <!-- testi monial section end -->
 {% endblock %}