{% extends 'base.html' %}
{% block content %}
{% load static %}



<div class="center">
    
       
      
     
        <p class="text-center"><b>Forgot your password </b><br><br>
        <button type="submit"  class="btn btn-dark"><a href="{%url 'reset_password' %}">Reset Password</a></button></p><br>
      
   
      <p class="text-center"><b>Your password has been changed successfully. Please login</b> <br> <br>
        <button type="submit"  class="btn btn-dark"><a href="{% url 'login' %}">Login</a></button></p>
    </div>

{% endblock %}