{% extends 'base.html' %}

{% block content %}
{% load static %}

<br><br><br>

<div class="center" align="center">
	<form method="post" class="form" >
		{% csrf_token %}
	    <h2 class="text-center">Reset Password</h2><br>
		{{form.as_p}}
		<!-- Email: <input type="text" placeholder='enter email' name="email" required> -->

		<div class="form-buttons"><br>
			<input type="submit" value="Send" class="btn btn-dark">
			<input type="submit" value="Cancel" class="btn btn-outline">
		</div>
	</form>
	</div>


    {% endblock %}